.task {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e8e8e8;
}

.check-task {
    margin-right: 10px;
}